
@import "bootstrap";

$opacityBackground: rgba(248, 237, 248, 0.6);
$fontColor:#6d2885;

body{
    background-color: white;
    color:black;
    margin-top: 55px;
    
}
 
main{
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    //margin-top:10px;-----------------------------------
    padding:5px;
}

div{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.card-body{
    border:2px solid grey;
    border-radius: 25px;
    color:$fontColor;
    background-color: rgba(248, 237, 248, 0.6);
}

.lista{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: $opacityBackground;
    height: 50px;
    line-height: 50px;
    button{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.fontColor{
    color:#6d2885;
    font-weight: bold;
}

.divFlex{
    display: flex;
    border-radius: 8px;
    width:80%;
    font-size: 23px;
    margin-bottom: 5px;
    background-color: $opacityBackground;
    img{
        width:400px;
        height:300px;
        border-radius: 8px;
        margin:2px;
    }
    p{
        text-align: justify;
        padding-right:5px;
        padding-left:5px;
    }
}

label{
    margin-right: 3px;
    margin-left: 3px;
}


form{
    width:300px;
    margin-left: auto;
    margin-right:auto;
}

progress {
    flex-basis: 100%;
    width:250px;
    margin-left: auto;
    margin-right:auto;
  }

img{
    width:200px;
    height:200px;
    border-radius: 8px;
}

a{
    text-decoration: none;
    color:darkblue;
    font-size: 12;
}
#nav1{
    display: flex;
    justify-content: space-between;
    color:red;
    outline:2px solid green;
}

#dymek{
    background-color:#6d2885;
    //color:#6d2885;
    color:white;
    font-size: 13px;
    position:fixed;
    padding: 4px;
    width: 300px;
    border-radius: 15px;
  p{
    text-align: left;
    margin:0px;
  }
}

#RegistrationInfo{
    text-align: center;
    min-height:30px;
    color:red;
    font-size:20px;
    font-weight: bold;
}

#sum{
    font-size:30px;
    font-weight: bold;
}

#sum1{
    font-size: 16px;
}

#spanInNav{
    font-size: 20px;
}

#ulInNav{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    a{
        font-size: 20px;
    }
}